MEMORYBANK_URL=http://127.0.0.1:18100
MEMORYBANK_FALLBACK_URL=https://memlayer.loc/api
MEMORYBANK_HUMAN_URL=https://memlayer.loc/api
MEMORYBANK_PROJECT_NAME=TUN
MEMORYBANK_PROJECT_ROOT=/Users/just/projects/TUN
MEMORYBANK_EXISTING_ENTRY_MODE=update
MEMORYBANK_API_KEY=
