# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace / cache
/go.work
/go.work.sum

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project docs (local notes)
/.docs/

# Dev artifacts
/.dev/

# Local web template
/.local/cybershield/

# Local web staging
/.local/jstun-web/
