TUN_SERVER_ADDR=127.0.0.1:18443
TUN_SERVER_NAME=localhost
TUN_TLS_INSECURE=true
TUN_CLIENT_ID=0102030405060708090a0b0c0d0e0f10
TUN_SERVER_STATIC_PUB_B64=BASE64_X25519_PUBLIC_KEY
TUN_NAME=tun-link
TUN_MTU=1420
TUN_ADDRESSES=10.251.1.2/30
TUN_ROUTES=
TUN_CONFIG_MODE=replace
TUN_CLEANUP_ON_CLOSE=true
TUN_HEALTH_ADDR=127.0.0.1:18180
