TUN_LISTEN_ADDR=:18443
TUN_SERVER_ID=00112233445566778899aabbccddeeff
TUN_SERVER_STATIC_PRIV_B64=BASE64_X25519_PRIVATE_KEY
TUN_TLS_CERT_FILE=/etc/tun/tls_cert.pem
TUN_TLS_KEY_FILE=/etc/tun/tls_key.pem
TUN_NAME=tun-link
TUN_MTU=1420
TUN_ADDRESSES=10.251.1.1/30
TUN_ROUTES=
TUN_CONFIG_MODE=replace
TUN_CLEANUP_ON_CLOSE=true
TUN_HEALTH_ADDR=127.0.0.1:18181
TUN_SUPPORT_BUNDLE_OUT=/var/log/tun/support-bundle-link.json
TUN_SUPPORT_SIGNING_KEY_FILE=/etc/tun/support-signing-k2.key
TUN_SUPPORT_SIGNING_KEY_ID=k2
TUN_DEPLOY_RING=prod
